{% extends "base_generic.html" %}

{% block content %}

<div class="page-header">
  {% include 'messages.html' %}
  <h1 class="display-6 pb-2 mb-3 border-bottom">{{ par_app.app_title }}</h1>
</div>

<form class="row gy-2 gx-3 align-items-center" method="post">
  {% csrf_token %}
  <div class="col-auto">
    <input type="text" name="fil_des" value="{{fil_des}}" class="form-control" placeholder="Descrição" aria-label="Descrição">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-secondary"><i class="bi-btn bi-search"></i> Pesquisar</button>
  </div>

</form>


<div class="table-responsive">
  <table id="tlist" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Código</th>
        <th>Data</th>
        <th>URL</th>
        <th>Usuario</th>
        <th>IP</th>
        <th>Method</th>
        <th class="bc">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{ row.ACE_ID }}</td>
        <td>{{ row.ACE_DATHOR }}</td>
        <td>{{ row.ACE_URL }}</td>
        <td>{{ row.get_usuario }}</td>
        <td>{{ row.ACE_IP }}</td>
        <td>{{ row.ACE_MTD }}</td>
        <td class="bc">
          {% if user_perm.add and user_perm.change %}<a class="btn btn-sm btn-primary" href="{% url par_app.app_update row.pk %}"><i class="bi-btn bi-pencil-square"></i>  Editar</a>{% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'paginator.html' %}

{% endblock %}